body{
  font-family: fantasy;
  color:rgb(137, 0, 140);
  background:linear-gradient(rgb(0, 217, 255),rgb(203, 222, 237));

  margin:0;
  
}

@media (min-width: 250px) and (max-width: 500px) {
body{
  width:350px;

  
}
.image2{
  width:270px;
  height:220px;
  border-width: 10px;
  border-color: rgb(238, 133, 227);
  border-style: solid;
  text-align: center;
  background-image: url(images/img-3.jpg);
  background-size: cover;

}

.image2:hover{
  width:270px;
  height:220px;
  border-width: 10px;
  border-color: rgb(238, 133, 227);
  border-style: solid;
  text-align: center;
  background-image: url(images/img-2.jpg);
  
}
}


@media (min-width: 501px) and (max-width: 749px) {
  body{
    width:700px;
  }

  .image2{
    width:390px;
    height:340px;
    border-width: 10px;
    border-color: rgb(238, 133, 227);
    border-style: solid;
    text-align: center;
    background-image: url(images/img-3.jpg);
    background-size: cover;
  
  }
  
  .image2:hover{
    width:390px;
    height:340px;
    border-width: 10px;
    border-color: rgb(238, 133, 227);
    border-style: solid;
    text-align: center;
    background-image: url(images/img-2.jpg);
    
  }
  
}
@media (min-width: 750px) and (max-width: 999px) {
  body{
    width:800px;
  }
    .image2{
      width:390px;
      height:340px;
      border-width: 10px;
      border-color: rgb(238, 133, 227);
      border-style: solid;
      text-align: center;
      background-image: url(images/img-3.jpg);
      background-size: cover;
    
    }
    
    .image2:hover{
      width:390px;
      height:340px;
      border-width: 10px;
      border-color: rgb(238, 133, 227);
      border-style: solid;
      text-align: center;
      background-image: url(images/img-2.jpg);
      
    }
    
  
}

@media (min-width: 1000px){
  .image2{
    width:500px;
    height:450px;
    border-width: 10px;
    border-color: rgb(238, 133, 227);
    border-style: solid;
    text-align: center;
    background-image: url(images/img-3.jpg);
    background-size: cover;
  
  }
  
  .image2:hover{
    width:500px;
    height:450px;
    border-width: 10px;
    border-color: rgb(238, 133, 227);
    border-style: solid;
    text-align: center;
    background-image: url(images/img-2.jpg);
    
  }
  
}

.img1{
  width:200px;
  height:200px;
  border-radius: 50%;
  border-width: 10px;
  border-color: rgb(238, 2, 214);
  border-style: solid;

}

.header, .footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creater{
  text-decoration: none;
  color:blue;
  margin-left:70%;

}

.git-hub{
  width:21px;
  background-color: black;
  border-radius: 50%;
}

